<div class="container">
  <h1> your cart </h1>
<!--<div class="cart" *ngFor="let product of products">
  <img [src]="product.image" alt="{{ product.image}} image">
  <div>
       {{  product.style}}<br>
       {{ product.currencyFormat }}{{ product.price}}<br>
       {{ product.availableSizes }}
       <div>
        <button  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
       </div>
  </div>
</div>-->
<img src="../assets/p1.png">
  <p>T-Shirt</p>
  <p>$20</p>
  <button type="button" (click)="removeItem(products)"><i class="fas fa-trash-alt"></i></button>
</div>